<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <!-- <tab id="groomershop" translate="label" sortOrder="300">
            <label>Groomershop</label>
        </tab> -->
        <section id="full_breadcrumbs" translate="label" type="text" sortOrder="200" showInDefault="1">
            <label>Full Breadcrumbs</label>
            <tab>advanced</tab>
            <resource>Groomershop_FullBreadcrumbs::config</resource>
            <group id="general" translate="label" sortOrder="10" type="text" showInDefault="1">
                <label>Full Breadcrumbs</label>
                <field id="enabled" translate="label" sortOrder="10" type="select" showInDefault="1">
                    <label>Enable</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="excluded_categories_ids" translate="label comment" sortOrder="20" showInDefault="1">
                    <label>Exluded categories</label>
                    <comment>Enter the IDs of the categories that will be excluded from Full Breadcrumbs. ex:
                        4,12,15,14,78
                    </comment>
                </field>
            </group>
        </section>
    </system>
</config>